.footer {
  padding: 10rem 3rem;
  color: white;
  z-index: 0;
  background-color: var(--Very_Dark_Cyan);
  &__logo {
    width: 15rem;
    margin: 5rem 0 3rem 0;
  }
  &__social {
    padding-bottom: 3rem;
    span {
      width: 1.3rem;
      height: 1.8rem;
      margin-right: 1.4rem;
      padding-right: 2rem;
    }
    p {
      font-size: 1.4rem;
      display: flex;
      text-align: left;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  &__about {
    line-height: 4rem;
    font-size: 1.6rem;
    ul {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  &__social__media {
    display: flex;
    justify-content: center;
    margin: 4rem;

    .circle {
      height: 4rem;
      width: 4rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: solid 1px white;
      border-radius: 50%;
      margin: 0 1rem;

      i {
        font-size: 2rem;
      }
    }
  }
  .copyright {
    font-size: 1.3rem;
    text-align: center;
  }
}
