.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 32rem;
  width: 100%;
  min-height: 10rem;

  &__logo {
    width: 12rem;
    margin-left: 2.5rem;
    background-repeat: no-repeat;
  }
  &__button {
    // display:inline-block;
    min-width: 12rem;
    max-width: 15rem;
    min-height: 3rem;
    max-height: 5rem;
    margin-right: 2.5rem;
    color: var(--Very_Dark_Cyan);
    font-size: 1.5rem;
    font-weight: 700;
    background-color: white;
  }
}
