.section-one {
  display: flex;
  flex-direction:column;
  width: 100%;
  min-width: 32rem;
  padding: 5.5rem 3rem;
  text-align: center;

  &__title {
    padding: 0rem 2rem 3rem 2rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: var(--Very_Dark_Cyan);
  }
  &__content {
    padding-bottom: 3rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 400;
    color: var(--Very_Dark_Cyan);
  }
  &__button {
    width: 27rem;
    height: 5rem;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    background-color: var(--Pink);
    color: white;
  }
  &__img {
    width: 33rem;
  }
}


