.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 32rem;
  width: 100%;
  min-height: 10rem;
}
.header__logo {
  width: 12rem;
  margin-left: 3.5rem;
  background-repeat: no-repeat;
}
.header__button {
  min-width: 12rem;
  min-height: 3rem;
  margin-right: 3.5rem;
  color: var(--Very_Dark_Cyan);
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
}

@media screen and (min-width: 1024px) {
  .header__logo {
    width: 20rem;
  }
  .header__button {
    width: 23rem;
    height: 5rem;
  }
}
.section-one {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 32rem;
  padding: 5.5rem 3rem;
  text-align: center;
  align-items: center;
}
.section-one__title {
  padding: 0rem 2rem 3rem 2rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: var(--Very_Dark_Cyan);
}
.section-one__content {
  padding-bottom: 3rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--Very_Dark_Cyan);
}
.section-one__button {
  width: 23rem;
  height: 4.5rem;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: var(--Pink);
  color: white;
}
.section-one__img {
  min-width: 28rem;
  max-width: 34rem;
  width: 85%;
}

@media screen and (min-width: 1024px) {
  .section-one {
    flex-direction: row;
    justify-content: space-around;
  }
  .section-one .wrapper {
    width: 45%;
    text-align: left;
    padding-right: 7rem;
  }
  .section-one__title {
    font-size: 3.4rem;
    padding: 0 12rem 0 0;
    padding-bottom: 3rem;
    line-height: 3rem;
  }
  .section-one__img {
    max-width: 45%;
  }
}
.section-two {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 32rem;
}
.section-two__img {
  width: 33rem;
  margin: 6rem 0rem 4rem;
  padding: 0 3rem 0;
}
.section-two__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  min-width: 30rem;
  max-width: 33rem;
  padding: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.08);
}
.section-two__cards h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--Very_Dark_Cyan);
}
.section-two__cards p {
  margin-bottom: 2rem;
  color: var(--Grayish_Blue);
  font-size: 1.3rem;
  line-height: 2rem;
}

.card-footer {
  --size: 18rem;
  top: calc(var(--size) / 2.5);
  justify-content: center;
  min-width: 34rem;
  height: var(--size);
  margin: 0 1.5rem;
}
.card-footer h2 {
  font-size: 1.8rem;
}
.card-footer button {
  width: 23rem;
  height: 4.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--Pink);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 1024px) {
  .section-two__img {
    width: 35%;
  }
  .section-two__cards {
    flex-direction: row;
    max-width: 80%;
    justify-content: space-around;
  }
  .section-two__cards .wrapper {
    text-align: left;
    flex-direction: column;
    width: 40%;
  }
  .section-two__cards:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.footer {
  padding: 10rem 3rem;
  color: white;
  width: 100%;
  min-width: 32rem;
  background-color: var(--Very_Dark_Cyan);
}
.footer__logo {
  width: 15rem;
  margin: 5rem 0 3rem 0;
}
.footer__social {
  padding-bottom: 3rem;
}
.footer__social span {
  width: 1.3rem;
  height: 1.8rem;
  margin-right: 1.4rem;
  padding-right: 2rem;
}
.footer__social p {
  font-size: 1.4rem;
  display: flex;
  text-align: left;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
.footer__about {
  line-height: 4rem;
  font-size: 1.6rem;
}
.footer__about ul {
  list-style: none;
}
.footer__about a {
  text-decoration: none;
  color: white;
}
.footer__social__media {
  display: flex;
  justify-content: center;
  margin: 4rem;
}
.footer__social__media .circle {
  height: 4rem;
  width: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 50%;
  margin: 0 1rem;
}
.footer__social__media .circle i {
  font-size: 2rem;
}
.footer .copyright {
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
  .footer__social {
    width: 33%;
  }
  .footer__about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 33%;
  }
  .footer__social__media {
    padding-left: 5rem;
  }
  .footer .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 33%;
  }
  .footer .wrapper .copyright {
    align-self: flex-end;
  }
}
/*1 rem = 10px
 .1 rem = 1px
*/
:root {
  /* ### Primary */
  --Pink: hsl(322, 100%, 66%);
  /* ### Neutral */
  --Very_Pale_Cyan: hsl(193, 100%, 96%);
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Grayish_Blue: hsl(208, 11%, 55%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
}

.bg {
  min-height: 100vh;
  background: url("./images/bg-hero-mobile.svg") no-repeat top left;
  background-size: cover;
  background-color: var(--Very_Pale_Cyan);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button {
  outline: none;
  border-style: unset;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.08);
  border-radius: 1.5em;
}

/*# sourceMappingURL=style.css.map */
